@{
    ViewData["Title"] = "Home Page";
}

@model Bowler

<form action="" method="post">
    <label asp-for="BowlerId">BowlerId: </label>
    <input asp-for="BowlerId"/>
    <br />

    <label asp-for="BowlerLastName">Bowler Last Name: </label>
    <input asp-for="BowlerLastName" />
    <br />

    <label asp-for="BowlerFirstName">Bowler First Name: </label>
    <input asp-for="BowlerFirstName" />
    <br />

    <label asp-for="BowlerMiddleInit">Bowler Middle Initial: </label>
    <input asp-for="BowlerMiddleInit" />
    <br />

    <label asp-for="BowlerAddress">Bowler Address: </label>
    <input asp-for="BowlerAddress" />
    <br />

    <label asp-for="BowlerCity">Bowler City: </label>
    <input asp-for="BowlerCity" />
    <br />

    <label asp-for="BowlerState">Bowler State: </label>
    <input asp-for="BowlerState" />
    <br />

    <label asp-for="BowlerZip">Bowler Zip: </label>
    <input asp-for="BowlerZip" />
    <br />

    <label asp-for="BowlerPhoneNumber">Bowler Phone Number: </label>
    <input asp-for="BowlerPhoneNumber" />
    <br />

    <label asp-for="TeamId">Team ID: </label>
    <input asp-for="TeamId" />
    <br />
</form>